@media screen and (max-width: 768px) {

    .nav-tabs .nav-item {
        width: 50%;
    }
}

.white {
    color: #fff !important;
}


@media screen and (min-width: 768px) {

    #contact {
        padding-left: 10%;
    }
}
