@media screen and (max-width: 768px) {

    .nav-tabs .nav-item {
        width: 50%;
    }
}

.white {
    color: #fff !important;
}


@media screen and (min-width: 768px) {

    #contact {
        padding-left: 10%;
    }
}

.icon-reddit {
    background-color: #ff4500 !important;
}

.icon-medium {
    background-color: #00ab6c !important;
}

.icon-telegram {
    background-color: #0088cc !important;
}

.list-item-social{
    width: 30%;
    margin-bottom: 10px;
}

.list-social {
    text-align: center;
}